:root {
  --section-overlay: #1a070eb3;
  --background-overlay: rgba(12, 10, 10, 0.281);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  transition: background 0.8s ease-in-out;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--background-overlay);
  backdrop-filter: blur(4px);
}

.container {
  max-width: 800px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}

.section {
 width:100%;
 padding:1 rem;
 border-radius:1rem;
 color:white;
}

.section_inputs,
.section_temperature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:var(--section-overlay);
  gap:1rem;
  padding:1rem;
  border-radius:1rem;
}
.inputs{
  width:200px;
  height:50px;
  border-radius:0.6rem;
  padding-left: 10px;
  font-size:large
}

.section_inputs > input {
  flex: 1; 
  min-width: 300px; 
  border: 1px solid white;
  border-radius: 0.4rem;
  background-color: rgb(238, 232, 232);
  color: rgb(51, 49, 49);
  padding: 0.7rem 1rem;
  font-size: 18px;
  font-weight: 400;
  box-sizing: border-box; 
  border: 1px solid #b93131;
}

.section_inputs > input:focus {
  outline: none;
}

.section_inputs > button {
  padding: 10px ;
  border: none;
  border-radius: 0.4rem;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  transition: all 0.2s ease;
  border-left: none;
}

.section_inputs > button:hover {
  cursor: pointer;
  background-color: rgb(187, 115, 20);
  color: white;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon > h3 {
  font-size: 15px;
  font-weight: 200;
  text-transform: capitalize;
}

.temperature > h1 {
  font-size: 60px;
}

/* Suggestions dropdown style */
.suggestions {
  position: absolute;
  width: 100%; /* 👈 dropdown same width as input */
  background: white;
  color: black;
  border-radius: 0.4rem;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  z-index: 10;
}

.suggestions li {
  padding: 8px 10px;
  cursor: pointer;
  font-size: 16px;
}

.suggestions li:hover {
  background: #e3e3e3;
}